h1{
  text-align: center;
  color: darkolivegreen;
  margin: 30px 0 50px;
  margin-bottom: 10px;
}
.row{
  width: 80%;
  margin-left: 120px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.row img{
  padding: 5px;
  box-shadow: 4px 7px 7px 0px #00000042;
  transition: 400ms;
  max-width: 100%;
  display: flex;
  width: 100%;
  height: auto;
}
.row img:hover{
  transform: scale(1.03);
}
.column {
  float: left;
  flex: 1 0 21%;
  box-sizing: border-box;
  padding: 10px;
}
.column img{
  max-width: 100%;
  height: auto;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  padding-bottom:50px ;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: black;
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}